@model Delineation.Models.D_Act

@{
    ViewData["Title"] = "Create";
}

<h1>Добавление нового акта разграничения</h1>

<h4>На основании выданных технических условий:</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="TcId" class="control-label"></label>
                <select asp-for="TcId" class ="form-control" asp-items="ViewBag.TcId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

